body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* STYLES FOR APP */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding: 14px 16px;
}

h2 {
  text-align: center;
  margin-top: 24px;
}

.btn {
  margin: 12px;
}

.question-border {
  border: 1px solid gray;
  border-radius: 12px;
  margin: 8px;
  width: 90%;
}

.center-flex-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.login-border {
  border: 1px solid gray;
  border-radius: 12px;
  width: 40%;
}

.center-login {
  margin-left: auto;
  margin-right: auto;
}
