body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* STYLES FOR APP */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding: 14px 16px;
}

h2 {
  text-align: center;
  margin-top: 24px;
}

.btn {
  margin: 12px;
}

.question-border {
  border: 1px solid gray;
  border-radius: 12px;
  margin: 8px;
  width: 90%;
}

.center-flex-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.login-border {
  border: 1px solid gray;
  border-radius: 12px;
  width: 40%;
}

.center-login {
  margin-left: auto;
  margin-right: auto;
}

.single-question-view {
  padding: 14px 16px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.selected-answer {
  color: black;
}

h3 {
  text-align: center;
}

form {
  text-align: center;
}

input[type="text"] {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.center-btn {
  display: flex;
  justify-content: center;
}

.add-ques-btn {
  width: 200px;
}

.center-options-buttons {
  display: flex;
  justify-content: center;
}

.center-options-buttons > button {
  width: 240px;
  white-space: normal;
}

.center-options-buttons > span {
  width: 240px;
  white-space: normal;
  text-align: center;
}

.avatar {
  border-radius: 100%;
  height: 75px;
  width: 75px;
  margin-bottom: 12px;
}

a:hover {
  text-decoration: none;
}

.center-options-buttons > span:hover {
  text-decoration: none;
  cursor: default;
}
